body {
  background-color: #E6E6E6;
  font-family: 'Roboto', sans-serif; /* Altere para a fonte desejada */
}

header {
  background-color: #00A54F;
  text-align: center;
  margin: -10px; 
  border-bottom: 5px solid #DBC056
  ;
}

.formulario-cadastro input:focus,
.formulario-cadastro textarea:focus {
  border: 2px solid #00A54F !important;
  outline: none;
}

.formulario-cadastro {
  width: 720px; /* Aumenta a largura do formulário */
  margin: 60px auto;
  padding: 30px; /* Aumenta o padding para mais espaçamento interno */
  border: 4px solid #00A54F;
  background-color: #E6E6E6;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 100px; /* Ajusta a posição vertical */
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif; /* Garante que a fonte seja consistente */
  box-shadow: 0 2px 16px rgba(0,0,0,0.15);
}

.formulario-cadastro h2 {
  text-align: center;
  color: white;
  background-color: #00A54F;
  padding: 15px; /* Aumenta o padding do cabeçalho */
  margin: -30px -30px 30px -30px; /* Ajusta as margens */
  font-size: 20px; /* Aumenta o tamanho da fonte */
}

.formulario-cadastro label {
  display: block;
  margin-bottom: 6px; /* Aumenta o espaçamento entre o label e o campo */
  font-weight: bold;
  color: #000000;
}

.formulario-cadastro input, .formulario-cadastro textarea {
  width: 100%;
  padding: 10px; /* Aumenta o padding dos campos */
  margin-bottom: 12px; /* Aumenta o espaçamento entre os campos */
  border: 2px solid #DBC056;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  font-family: 'Roboto', sans-serif; /* Garante que a fonte seja consistente */
}

.formulario-cadastro textarea {
  height: 150px; /* Aumenta a altura do textarea */
  resize: none;
}

/* Estilização da barra de rolagem do campo descrição completa */
.formulario-cadastro textarea::-webkit-scrollbar {
  width: 7px; /* Largura da barra de rolagem */
}

.formulario-cadastro textarea::-webkit-scrollbar-track {
  background: #E6E6E6; /* Cor do fundo da barra de rolagem */
}

.formulario-cadastro textarea::-webkit-scrollbar-thumb {
  background: #00A54F; /* Cor do "polegar" da barra de rolagem */
  border-radius: 1px; /* Bordas arredondadas */
}

.formulario-cadastro textarea::-webkit-scrollbar-thumb:hover {
  background: #078343; /* Cor ao passar o mouse no "polegar" */
}

.botoes {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 20px; /* Adiciona espaço entre os botões */
  margin-top: 5px; /* Aumenta o espaçamento acima dos botões */
}

.botao-salvar {
  background-color: #00A54F;
  color: white;
  border: none;
  padding: 15px 30px; /* Aumenta o padding dos botões */
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.botao-salvar:hover {
  background-color: #078343;
}

.botao-cancelar {
  background-color: #DBC056;
  color: white;
  border: none;
  padding: 15px 30px; /* Aumenta o padding dos botões */
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.botao-cancelar:hover {
  background-color: #caae3d;
}


.formulario-cadastro select {
  width: 100%;
  padding: 11px;
  margin-bottom: 20px;
  border: 2px solid #DBC056;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
  appearance: none; /* Remove o estilo padrão do select */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='16' height='16' fill='gray' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 16,0 8,8'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 18px 18px;
  padding-right: 40px;
}

/* Estiliza o select quando está em foco */
.formulario-cadastro select:focus {
  border: 2px solid #00A54F !important;
  outline: none;
}

