body {
  background-color: #E6E6E6;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

header {
  background-color: #00A54F;
  text-align: center;
  margin: -10px; 
  border-bottom: 5px solid #DBC056
  ;
}

.fundo {
  border: 4px solid #00A54F;
  background-color: #DBC056;
  width: 400px;
  height: 830px;
  margin: 0; 
  padding: 10px;
  box-sizing: border-box;
  position: absolute; 
  top: 290px; 
  left: 110px; 
}

.pesquisa {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-busca {
  flex: 1;
  padding: 5px;
  border: 3px solid #00A54F;
  border-radius: 5px;
  height: 30px;
}

.input-busca:focus {
  border: 3px solid #DBC056;
  outline: none;
}

.icone-lupa {
  width: 40px;
  height: 40px;
  margin-left: 10px; 
}

.botao-cadastro {
  background-color: #00A54F;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold; 
  cursor: pointer; 
}

.botao-movimentacao {
  background-color: #00A54F;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; 
}

.botao-fornecedor {
  background-color: #00A54F;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; 
}

.botao-consulta-fornecedor {
  background-color: #00A54F;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.botao-historico {
  background-color: #00A54F;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; 
}

.botao-estoque-baixo {
  background-color: #00A54F;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer; 
}

.botao-cadastro,
.botao-movimentacao,
.botao-fornecedor,
.botao-consulta-fornecedor,
.botao-historico,
.botao-estoque-baixo {
  margin-bottom: 15px; 
}

.botao-cadastro:hover,
.botao-movimentacao:hover,
.botao-fornecedor:hover,
.botao-consulta-fornecedor:hover,
.botao-historico:hover,
.botao-estoque-baixo:hover {
  background-color: #078343;
}

.tabela {
  overflow-y: auto; /* Permite rolagem vertical */
  margin-top: 20px;
  position: absolute;
  top: 270px;
  left: 530px; /* Ajuste a posição horizontal conforme necessário */
  max-height: 830px; /* Define uma altura máxima para a rolagem */
  border-radius: 7px; 
}

/* Estilização da barra de rolagem */
.tabela::-webkit-scrollbar {
  width: 9px; /* Largura da barra de rolagem */
}

.tabela::-webkit-scrollbar-track {
  background: #E6E6E6; /* Cor do fundo da barra de rolagem */
}

.tabela::-webkit-scrollbar-thumb {
  background: #00A54F; /* Cor do "polegar" da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas */
}

.tabela::-webkit-scrollbar-thumb:hover {
  background: #078343; /* Cor ao passar o mouse no "polegar" */
}

.tabela-estoque {
  width: 100%; /* Permite que a tabela aumente de largura sem limite */
  border-collapse: collapse; /* Remove espaços entre bordas */
  text-align: center; /* Centraliza o texto */
  font-size: 16px;
  border: 3px solid #00A54F; /* Aumenta a espessura das bordas externas da tabela */
}

.tabela-estoque th, .tabela-estoque td {
  border: 3px solid #00A54F; /* Aumenta a espessura das bordas das células */
  padding: 45px; /* Aumenta ainda mais o espaçamento interno para ampliar visualmente a largura */
  text-align: center; /* Centraliza o texto nas células */
  background-clip: padding-box; /* Garante que o fundo cubra até a borda */
}

.tabela-estoque th {
  background-color: #00A54F;
  color: white;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 2;
  border: 3px solid #00A54F;
}

.tabela-estoque td {
  border-collapse: collapse;
  border: 3px solid #00A54F;
}

.tabela-estoque tr:nth-child(even) td {
  background-color: #f8f8f8; /* Cor alternada para linhas pares */
}

.tabela-estoque button {
  background-color: #DBC056;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold; 
  font-size: 15px; /* Aumenta o tamanho da fonte */
  height: 42px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Adiciona espaço entre o texto e a imagem */
}

.tabela-estoque button:hover {
  background-color: #caae3d; /* Cor ao passar o mouse */
}

.icone-olho {
  width: 40px; /* Ajusta a largura da imagem */
  height: 40px; /* Ajusta a altura da imagem */
  cursor: pointer;
  background-color: white; /* Define o fundo branco */
  border-radius: 75px; /* Opcional: arredonda as bordas */
}

